# SPDX-License-Identifier: GPL-2.0-only

config STARFIVE_JHB100_SOCINFO
	bool "StarFive JHB100 SoC Information"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select SOC_BUS
	select MFD_CORE
	select MFD_SYSCON
	default y
	help
	  Include support for the SoC bus socinfo for the StarFive JHB100 SoC
	  platforms to provide information about the SoC family and variant
	  to user space.
