# SPDX-License-Identifier: GPL-2.0-only
#
# Xilinx TSN device configuration
#

config XILINX_TSN
	tristate "Xilinx TSN Ethernet driver"
	depends on OF_ADDRESS
	depends on XILINX_DMA
	help
	  This driver supports the AMD/Xilinx Time-Sensitive Networking
	  (TSN) Endpoint Ethernet MAC IP. It provides the wrapper device
	  and the endpoint MAC that connects the IP to the host CPU. The
	  three-port switch is supported by the companion DSA driver.

	  If unsure, say N.
