# SPDX-License-Identifier: GPL-2.0-only

config PINCTRL_STARFIVE_JH7100
	tristate "Pinctrl and GPIO driver for the StarFive JH7100 SoC"
	depends on SOC_STARFIVE || COMPILE_TEST
	depends on OF
	select GENERIC_PINCTRL_GROUPS
	select GENERIC_PINMUX_FUNCTIONS
	select GENERIC_PINCONF
	select GPIOLIB
	select GPIOLIB_IRQCHIP
	default SOC_STARFIVE
	help
	  Say yes here to support pin control on the StarFive JH7100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JH7110
	bool
	select GENERIC_PINCTRL_GROUPS
	select GENERIC_PINMUX_FUNCTIONS
	select GENERIC_PINCONF
	select GPIOLIB
	select GPIOLIB_IRQCHIP

config PINCTRL_STARFIVE_JH7110_SYS
	tristate "System pinctrl and GPIO driver for the StarFive JH7110 SoC"
	depends on SOC_STARFIVE  || COMPILE_TEST
	depends on OF
	select PINCTRL_STARFIVE_JH7110
	default SOC_STARFIVE
	help
	  Say yes here to support system pin control on the StarFive JH7110 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JH7110_AON
	tristate "Always-on pinctrl and GPIO driver for the StarFive JH7110 SoC"
	depends on SOC_STARFIVE  || COMPILE_TEST
	depends on OF
	select PINCTRL_STARFIVE_JH7110
	default SOC_STARFIVE
	help
	  Say yes here to support always-on pin control on the StarFive JH7110 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100
	bool
	depends on OF
	select GENERIC_PINCTRL
	select GPIOLIB
	select GPIOLIB_IRQCHIP
	select OF_GPIO

config PINCTRL_STARFIVE_JHB100_PER0
	tristate "StarFive JHB100 SoC Peripheral-0 pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support Peripheral-0 pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100_PER1
	tristate "StarFive JHB100 SoC Peripheral-1 pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support Peripheral-1 pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100_PER2
	tristate "StarFive JHB100 SoC Peripheral-2 pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support Peripheral-2 pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100_SYS0
	tristate "StarFive JHB100 SoC System-0 pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support system-0 pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100_SYS0H
	tristate "StarFive JHB100 SoC System-0 Host pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support System-0 Host pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100_SYS1
	tristate "StarFive JHB100 SoC System-1 pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support System-1 pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.

config PINCTRL_STARFIVE_JHB100_SYS2
	tristate "StarFive JHB100 SoC System-2 pinctrl and GPIO driver"
	depends on ARCH_STARFIVE || COMPILE_TEST
	select PINCTRL_STARFIVE_JHB100
	default ARCH_STARFIVE
	help
	  Say yes here to support System-2 pin control on the StarFive JHB100 SoC.
	  This also provides an interface to the GPIO pins not used by other
	  peripherals supporting inputs, outputs, configuring pull-up/pull-down
	  and interrupts on input changes.
