// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Amlogic, Inc. All rights reserved.
 */

/dts-v1/;

#include "amlogic-t7.dtsi"

/ {
	model = "Amlogic A311D2 AN400 Development Board";
	compatible = "amlogic,an400", "amlogic,a311d2", "amlogic,t7";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart_a;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0xe0000000
			0x00000001 0x00000000 0x00000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* 3 MiB reserved for ARM Trusted Firmware (BL31) */
		secmon_reserved: secmon@5000000 {
			reg = <0x0 0x05000000 0x0 0x300000>;
			no-map;
		};

		/* 32 MiB reserved for ARM Trusted Firmware (BL32) */
		secmon_reserved_bl32: secmon@5300000 {
			reg = <0x0 0x05300000 0x0 0x2000000>;
			no-map;
		};
	};

	xtal: xtal-clk {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "xtal";
		#clock-cells = <0>;
	};

	dc_in: regulator-dc-in {
		compatible = "regulator-fixed";
		regulator-name = "12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_5v: regulator-vcc-5v {
		compatible = "regulator-fixed";
		vin-supply = <&dc_in>;
		regulator-name = "VCC5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio GPIOH_1 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	vddao_3v3: regulator-vddao-3v3 {
		vin-supply = <&dc_in>;
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <70000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vdd1v8_reg: regulator-vdd-1v8 {
		vin-supply = <&dc_in>;
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		startup-delay-us = <70000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddao_1v8: regulator-vddao-1v8 {
		compatible = "regulator-fixed";
		vin-supply = <&vddao_3v3>;
		regulator-name = "VDDAO_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddio_3v3: regulator-vddio-3v3 {
		compatible = "regulator-fixed";
		vin-supply = <&vddao_3v3>;
		regulator-name = "VDDIO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio GPIO_TEST_N GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	sd_3v3: regulator-sd-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "SD_3V3: SD/TF";
		vin-supply = <&vddao_3v3>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio GPIOD_11 GPIO_ACTIVE_LOW>;  /* 0R */
		regulator-boot-on;
		regulator-always-on;
	};

	vddio_c: regulator-sd-1v8-3v3 {
		compatible = "regulator-gpio";
		vin-supply = <&vddio_3v3>;
		regulator-name = "VDDIO_C: SD/TF.";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio GPIOE_2 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;

		/* Based on P200 schematics, signal CARD_1.8V/3.3V_CTR */
		states = <1800000 1
			  3300000 0>;
	};

	vddq_1v1: regulator-vddq-1v1 {
		compatible = "regulator-fixed";
		vin-supply = <&dc_in>;
		regulator-name = "VDDQ_1V1";
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		gpio = <&gpio GPIOD_10 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <70000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	vddqlp_0v6: regulator-vddqlp-0v6 {
		vin-supply = <&dc_in>;
		compatible = "regulator-fixed";
		regulator-name = "VDDQLP_0V6";
		regulator-min-microvolt = <600000>;
		regulator-max-microvolt = <600000>;
		startup-delay-us = <70000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	vdd_ddr: regulator-vdd-ddr {
		vin-supply = <&dc_in>;
		compatible = "regulator-fixed";
		regulator-name = "VDD_DDR";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		startup-delay-us = <70000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
};

&uart_a {
	clocks = <&xtal>, <&clkc_periphs CLKID_SYS_UART_A>, <&xtal>;
	clock-names = "xtal", "pclk", "baud";
	status = "okay";
};

&ethmac {
	status = "okay";
	phy-handle = <&internal_ephy>;
	phy-mode = "rmii";
};
