# SPDX-License-Identifier: GPL-2.0
config NET_DSA_SOCE
	tristate "SoC-e switches"
	depends on NET_DSA
	depends on OF
	depends on HAS_IOMEM
	select NET_DSA_TAG_SDSA
	help
	  This enables support for switches based on SoC-e IP cores.
	  Frames are exchanged with the CPU port using the SDSA DSA tag protocol.
	  The driver supports switch variants whose features and number of ports
	  are selected at synthesis time and detected at runtime.
