# SPDX-License-Identifier: GPL-2.0-only
config SMC
	tristate "SMC socket protocol family"
	depends on INET && INFINIBAND
	help
	  SMC-R provides a "sockets over RDMA" solution making use of
	  RDMA over Converged Ethernet (RoCE) technology to upgrade
	  AF_INET TCP connections transparently.
	  The Linux implementation of the SMC-R solution is designed as
	  a separate socket family SMC.

	  Select this option if you want to run SMC socket applications

config SMC_DIAG
	tristate "SMC: socket monitoring interface"
	depends on SMC
	help
	  Support for SMC socket monitoring interface used by tools such as
	  smcss.

	  if unsure, say Y.

if SMC
config SMC_BPF
	bool "SMC: support eBPF" if SMC
	depends on BPF_SYSCALL
	default n
	help
	  Supports eBPF to allows user mode participation in SMC's protocol process
	  via ebpf programs. Alternatively, obtain information about the SMC socks
	  through the ebpf program.

	  If unsure, say N.
endif
