# SPDX-License-Identifier: GPL-2.0-only
#
# ZTE Clock Drivers
#

config COMMON_CLK_ZTE
	tristate "Clock driver for ZTE SoCs"
	depends on HAS_IOMEM
	depends on ARCH_ZTE || COMPILE_TEST
	default ARCH_ZTE
	select MFD_SYSCON
	help
	  This option selects common clock infrastructure for ZTE based SoCs.
	  You will need to enable one or more SoC specific drivers to make use
	  of this.

	  Enable this if you are building a kernel for a ZTE designed board.
