name: bpf-ci

on:
  pull_request:

concurrency: 
  group: ci-test-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  VM_Test:
    timeout-minutes: 100
    runs-on: ubuntu-latest
    env:
      PROJECT_NAME: 'libbpf'
      AUTHOR_EMAIL: "$(git log -1 --pretty=\"%aE\")"
      KERNEL: LATEST

    steps:
      - uses: actions/checkout@v2
      - name: install
        run: sudo apt-get update && sudo apt-get install aptitude qemu-kvm zstd binutils-dev elfutils libcap-dev libelf-dev libdw-dev python3-docutils
      - name: Get bpf-next source
        if: ${{ github.repository != 'kernel-patches/bpf' }}
        uses: actions/checkout@v2
        with:
          repository: kernel-patches/bpf
          ref: 'bpf-next'
          path: 'linux'
      - name: Move linux source in place
        if: ${{ github.repository != 'kernel-patches/bpf' }}
        run: rsync --exclude .git -av linux/. . && rm -rf linux
      - name: Kernel LATEST + selftests
        run: export REPO_ROOT=$GITHUB_WORKSPACE; export CI_ROOT=$REPO_ROOT/travis-ci; export VMTEST_ROOT=$CI_ROOT/vmtest; ${CI_ROOT}/vmtest/run_vmtest.sh || exit 1
